
:root{
	--col-count-1 : 1;
	--col-count-2 : 1;
	--col-count-3 : 1;
}

html,body {
  height: 100%;
  min-width: 1100px;
}

.body-view {
	
	height: 80vh;
}

#ShowNumber {
	width: 100px;
}

.DataSearch {
	text-align: right;
}

.DataSearch label {
	display: inline-flex;
}

.DataSearch label span {
	margin-right: 5px;
}

.columnMenu > div >  a:before {
	content:'#';
}

.ntable-striped thead tr th{
	border-bottom: 3px solid #dee2e6;
}

.ntable-striped tfoot tr th{
	border-top: 3px solid #dee2e6;
}

.ntable-striped tbody tr:nth-of-type(2n+1) .value-unit {
	background-color: rgba(0,0,0,.01);
}

.ntable-striped tbody tr:nth-of-type(2n+1) .count-unit {
	background-color: rgba(0,0,0,.01);
}

.ntable-striped tbody tr:nth-of-type(2n+1) .age-unit {
	background-color: rgba(0,0,0,.01);
}

.ntable-striped tbody tr:nth-of-type(2n) .value-unit {
		background-color: rgba(0,0,0,.05);
}

.ntable-striped tbody tr:nth-of-type(2n) .count-unit {
		background-color: rgba(0,0,0,.03);
}

.ntable-striped tbody tr:nth-of-type(2n) .age-unit {
		background-color: rgba(0,0,0,.03);
}

#columnDropZone {
	columns: var(--col-count-1) auto;
	border-radius: 10px;
}


.btn{
	padding:0px;
}

.dataTables_wrapper {
	padding-left: 0px;
	padding-right: 0px;
}


.dropdown-head span {
	font-weight:bold;
}
.dropdown-toggle{
	width:100%;
	white-space: normal;
}

.dropdown-item:hover {
	color: #26b8bc;
	background-color: transparent;
}

#dataTable_length select{
	
}

.custom-file-label:after {
	content:"+";
	background-color: white;
}
.custom-file-input:hover {
	cursor: pointer;
}

.input-group-append button:hover{
		background-color:#d7d7d7 ;
}

.pathobj{
	display: inline-block;
	margin-left: 3px;
	margin-right: 6px;
}

.pathobj::after{
	
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: .255em;
	vertical-align: center;
	content: "";
	border-top: .3em solid transparent;
	border-right: 0;
	border-bottom: .3em solid transparent;
	border-left: .3em solid ;
}

#colsel{
	display: inline-block;
}
