
:root{
	--col-count-1 : 1;
	--col-count-2 : 1;
	--col-count-3 : 1;
	--custom: #e2e6ea;
}

html,body {
  height: 100%;
  min-width: 1100px;
}

.body-view {
	
	height: 80vh;
}

#ShowNumber {
	width: 100px;
}

.DataSearch {
	text-align: right;
}

.DataSearch label {
	display: inline-flex;
}

.DataSearch label span {
	margin-right: 5px;
}

.columnMenu > div >  a:before {
	content:'#';
}

#resultDrop {
	background-color: #ced2d6;
}

#dataTable {
	border-collapse: collapse !important;
}

.ntable-striped tbody tr:nth-of-type(2n+1){
	border-bottom:  3px solid #d5d5d5;
	border-top: 3px solid #d5d5d5;
}


thead {
	border-bottom:  3px solid #d5d5d5;
		background-color: var(--light);
}

tfoot {
	border-top: 3px solid #d5d5d5;
		background-color: var(--light);
}

.ntable-striped tbody tr:nth-of-type(2n+1) .value-unit {
	background-color: rgba(255,255,255,0.9);
}

.ntable-striped tbody tr:nth-of-type(2n+1) .count-unit {
	background-color: rgba(255,255,255,0.9);
}

.ntable-striped tbody tr:nth-of-type(2n+1) .age-unit {
	background-color:rgba(255,255,255,0.9);
}

.ntable-striped tbody tr:nth-of-type(2n) .value-unit {
		background-color: rgba(255,255,255,0.42);
}

.ntable-striped tbody tr:nth-of-type(2n) .count-unit {
		background-color: rgba(255,255,255,0.42);
}

.ntable-striped tbody tr:nth-of-type(2n) .age-unit {
		background-color:rgba(255,255,255,0.42);
}

#columnDropZone {
	columns: var(--col-count-1) auto;
	border-radius: 10px;
}


.btn{
	padding:0px;
}

.dataTables_wrapper {
	padding-left: 0px;
	padding-right: 0px;
}


.dropdown-head span {
	font-weight:bold;
}
.dropdown-toggle{
	width:100%;
	white-space: normal;
	background-color:#e2e6ea;
	border-color:#e2e6ea;
}


.dropdown-item:hover {
	color: #26b8bc;
}




#dataTable_length select {
	background-color:#e2e6ea;
	border: 2px solid black;
	border-radius: 3px;
	width: 75px;
 	-webkit-appearance: none;
 	-moz-appearance: none;
	 appearance: none;
}

#dataTable_filter input {
		background-color:#e2e6ea;
	border: 2px solid black;
	border-radius: 3px;
}


.custom-file-label:after {
	content:"+";
	background-color: white;
}
.custom-file-input:hover {
	cursor: pointer;
}

.input-group-append button:hover{
		background-color:#d7d7d7 ;
}

.page-link {
	color: black;
}

.pathobj{
	  align-self: center;
	display: inline-block;
	margin-left: 3px;
	margin-right: 6px;
}

.pathobj::after{
	
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: .255em;
	vertical-align: center;
	content: "";
	border-top: .3em solid transparent;
	border-right: 0;
	border-bottom: .3em solid transparent;
	border-left: .3em solid ;
}

#colsel{
	display: inline-block;
    align-self: center;
}

.bg-custom{
	background-color:#e2e6ea;
}

.bg-custom2{
	background-color:#ddd;
}

.dropdown-menu {
	background-color:#f8f9fa;
}
